fastapi
uvicorn[standard]

python-dotenv

openai
groq
cohere
google-generativeai

transformers==4.46.3
sentence-transformers==2.7.0
accelerate==0.30.1

torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

sentencepiece
faiss-cpu
scikit-learn
numpy<2.0

tavily-python
newspaper3k
trafilatura
requests
beautifulsoup4
lxml
lxml_html_clean

pandas
openpyxl
reportlab
